.logo {
    display: block;
    margin: 0 auto; 
    width: 80px; 
    height: auto;
    margin-bottom: 15px;
}

.fodase {
    display: block;
    margin: 0 auto; 
    width: 80px; 
    height: auto;
    margin-bottom: 15px;
     

}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #166dd1;
}

.container {
    background: white;
    padding: 50px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    width: 300px;
}

.logo {
    display: block;
    margin: 0 auto 15px;
    width: 80px;
    height: auto;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}

.input-group input {
    width: 93%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 2px;
}

button {
    width: 100%;
    padding: 10px;
    background: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #218838;
}

.recuperar_senha {
    display: block;
    margin-top: 10px;
    font-size: 12px;
    color: #007bff;
    text-decoration: none;
}

.recuperar_senha:hover {
    text-decoration: underline;
}


